@charset "UTF-8";

.pok-field {
    position: relative;
    background: radial-gradient(green,rgb(0, 80, 0));
    width: 600px;
    height: 700px;
    border: 3px solid rgb(0, 0, 0);
    box-shadow: 10px 5px 5px rgb(177, 177, 177);
    margin: auto;
}

.pok-community {
    position: absolute;
    width: 400px;
    height: 200px;
    margin: 40% 0 0 120px;
    background-color: transparent;
    border: 3px solid white;
}

.tramp-white1 {
    width: 480px;
    height: 760px;
    margin: 50px 0 0 -180px;
    background-image: url(./tramp_wh.jpg);
    scale: 0.15;
}

.tramp-whitee {
    position: absolute;
    width: 70px;
    margin: 220px 0 0 -70px;
}